.user {
  display: flex;

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 12px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}
