nav {
  padding: 36px 61px 76px 28px;
  max-width: 306px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-right: 71px;
}
